/* #mobile first */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	background-color: hsl(226, 43%, 10%);
	color: white;
}

.container {
	max-width: 88%;
	margin: 60px auto;
}

header {
	display: flex;
	flex-direction: column;
	border-radius: 14px;
	color: hsl(236, 100%, 87%);
	background-color: hsl(235, 46%, 20%);
}

.person {
	display: flex;
	height: 110px;
	align-items: center;
	border-radius: 10px;
	background-color: hsl(246, 80%, 60%);
}

.person img {
	height: 60px;
	width: auto;
	margin-left: 25px;
	border: 2px solid white;
	border-radius: 50%;
}

.person .name {
	margin-left: 15px;
}

.person .name p {
	margin-bottom: 5px;
	font-size: 0.75rem;
}

.person .name h1 {
	font-size: 1.3rem;
	font-weight: 300;
	color: white;
}

nav ul {
	display: flex;
	height: 60px;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

nav ul li {
	width: 33%;
	text-align: center;
}

nav ul li a {
	font-size: 1rem;
	text-decoration: none;
	color: hsl(236, 100%, 87%);
}

nav ul li a.active {
	color: white
}

nav ul li a:hover {
	color: white
}

section.panel {
	position: relative;
	height: 140px;
	margin-top: 20px;
	border-radius: 14px;
	overflow: hidden;
}

.panel.work {
	background-color: hsl(15, 100%, 70%);
}

.panel.play {
	background-color: hsl(195, 74%, 62%);
}

.panel.study {
	background-color: hsl(348, 100%, 68%);
}

.panel.exercise {
	background-color: hsl(145, 58%, 55%);
}

.panel.social {
	background-color: hsl(264, 64%, 52%);
}

.panel.selfcare {
	background-color: hsl(43, 84%, 65%);
}

.panel img {
	position: absolute;
	top: -10px;
	right: 15px;
}

.panel__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	background-color: hsl(235, 46%, 20%);
}

.panel__container:hover {
	background-color: hsl(236, 44%, 51%);
}

.panel__item-a {
	margin-left: 20px;
}

.panel__item-a .activity {
	margin-bottom: 10px;
	font-size: 1rem;
	font-weight: 500;
}

.panel__item-a .currentHours {
	font-size: 2rem;
	font-weight: 200;
}

.panel__item-b {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	margin-right: 20px;
	text-align: end;
	color: hsl(236, 100%, 87%);
}

.panel__item-b p {
	margin-top: 10px;
	font-size: 1.6rem;
	font-weight: 400;
}

.panel__item-b div {
	margin-top: 15px;
}

.panel__item-b span {
	font-size: 0.75rem;
	font-weight: 200;
}

/* desktop */

@media (min-width: 640px) {

	.container {
		max-width: fit-content;
		margin: 100px auto 10px;
		display: grid;
		grid-template-columns: repeat(4, 150px);
		grid-template-rows: 1fr 1fr
	}

	.container header {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		margin: 7px
	}

	section.panel {
		margin: 7px
	}

	.person {
		flex-direction: column;
		justify-content: center;
		height: 200px;
	}

	.person img {
		margin: 5px 15px 20px;
		align-self: flex-start;
		height: 40px;
	}

	.person .name {
		margin: 5px 15px 20px;
	}

	nav ul {
		flex-direction: column;
		justify-content: center;
		height: 94px;
	}

	nav ul li {
		align-self: flex-start;
		margin-left: 15px;
		width: auto;
	}

	nav ul li a {
		font-size: 0.7rem;
		text-decoration: none;
		color: hsl(236, 100%, 87%);
	}

	.panel img {
		width: 42px;
		top: -4px;
		right: 12px;
	}

	.panel__container {
		display: block;
		position: relative;
		top: 22px;
		height: 118px;
	}

	.panel__item-a .activity {
		position: absolute;
		top: 20px;
		left: 15px;
		font-size: 0.7rem;
		font-weight: 400;
	}

	.panel__item-a .currentHours {
		position: absolute;
		bottom: 38px;
		left: 15px;
		font-size: 1.8rem;
	}

	.panel__item-b p {
		position: absolute;
		top: 0;
		right: 15px;
		font-size: 1.1rem;
	}

	.panel__item-b div {
		position: absolute;
		left: 15px;
		bottom: 22px;
	}

	.panel__item-b span {
		font-size: 0.5rem;
	}


}